.footer{
    background: #0C1D37 url(../img/footer-bg.png) center / cover no-repeat;
    width: 100%;
    padding-top: 66px;
    padding-bottom: 60px;
    @include media(576){
        padding-top: 17px;
        padding-bottom: 25px;
    }
    &__title{
        font-family: Manrope;
        font-weight: 400;
        font-size: 32px;
        line-height: 44px;
        color: #FFFFFF;
        margin-bottom: 16px;
        @include media(576){
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 10px;
        }
    }
    &__desc{
        font-family: Manrope;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        margin-bottom: 42px;
        @include media(576){
            font-size: 10px;
            line-height: 16px;
            margin-bottom: 24px;
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        display: flex;
        align-items: center;
        column-gap: 5px;
        font-weight: 300;
        font-size: 14.3223px;
        line-height: 17px;
        text-transform: uppercase;
        color: #FFFFFF;
        img{
            width: 40px;
        }
    }
    &__info{
        display: flex;
        align-items: center;
        column-gap: 47px;
        @include media(992){
            column-gap: 33px;
        }
        @include media(385){
            flex-direction: column;
            align-items: flex-start;
            row-gap: 15px;
        }
    }
    &__link{
        display: flex;
        align-items: center;
        column-gap: 13px;
        font-family: 'Manrope';
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        @include media(768){
            font-size: 13px;
            line-height: 17px;
            column-gap: 10px;
        }
        img{
            @include media(576){
                width: 26px;
                height: 26px;
            }
        }
    }
}