mixin header()
    .header 
        nav.header__nav.container 
            a(href="index.html").header__logo 
                img(src="@img/logo.svg", alt="" draggable="false" loading="lazy")
                | инвестиционные идеи
            p.header__p Инструкция по выбору брокера предназначена для начинающих трейдеров
            