mixin intro2()
    .intro2 
        .intro__body.container 
            h1.intro__title БЛАГОДАРИМ ЗА ЗАЯВКУ!
            p.intro__desc СКАЧАТЬ МАНУАЛ ВЫ СМОЖЕТЕ ПО КНОПКЕ СНИЗУ
            button(type="button").intro__btn.btn 
                img(src="@img/intro-icon.svg", alt="" draggable="false" loading="lazy") 
                | Скачать PDF-Мануал 
        .intro__content.container
                .intro__abs.disable-xxl
                    img(src="@img/intro-abs.svg", alt="" draggable="false" loading="lazy")
                .intro__top.enable-xxl
                    img(src="@img/intro-up_sm.svg", alt="" draggable="false" loading="lazy")
                .intro__info 
                    p.intro__p #[span.intro__span Бесплатный PDF-мануал] с помощью которого вы сможете выбрать брокера под свою торговую систему, сегодня!