mixin intro()
    .intro
        .intro__body.container 
            h1.intro__title КАК ПРАВИЛЬНО ВЫБРАТЬ БРОКЕРА
            p.intro__desc С ПОМОЩЬЮ ОДНОГО PDF - МАНУАЛА ЗА 5 МИНУТ?
            button(type="button").intro__btn.btn 
                img(src="@img/intro-icon.svg", alt="" draggable="false" loading="lazy")
                | Получить PDF-Мануал
        .intro__content.container
                .intro__abs.disable-xl
                    
                .intro__top.enable-xl
                    img(src="@img/intro-up_sm.svg", alt="" draggable="false" loading="lazy")
                .intro__info 
                    p.intro__p #[span.intro__span Бесплатный PDF-мануал] с помощью которого вы сможете выбрать брокера под свою торговую систему, сегодня!