// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: Roboto;
    &:focus,
    &:active{
        outline: none;
    }
}
body{
    background: url('../img/bg.png') center / cover no-repeat;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.btn{
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.21);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 21px;
    background: linear-gradient(90deg, #09A6FF 0%, #AF06FF 100%);
    border-radius: 20px;
    position: relative;
    width: 536px;
    height: 95px;
    &::before{
        content: '';
        position: absolute;
        width: 556px;
        height: 115px;
        border: 2px solid #AF07FF;
        border-radius: 28px;
        top: -12px;
        left: -12px;
        @include media(1200){
            width: 351px;
            height: 72px;
            top: -8px;
            left: -8px;
        }
        @include media(375){
            width: calc(100% + 15px);
        }
    }
    img{
        @include media(1200){
            width: 31px;
        }
    }
    @include media(1200){
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        column-gap: 13px;
        width: 338px;
        height: 60px;
        padding: 10px 15px;
    }
    @include media(375){
        width: 100%;
        font-size: 20px;
        column-gap: 10px;
    }
}